[submodule "glsdk-server"]
	path = server
	url = https://github.com/jabirfth/glsdk-server.git
	branch = master
[submodule "glsdk-client"]
	path = webapp
	url = https://github.com/jabirfth/glsdk-client.git
	branch = master
[submodule "glsdk-proxy"]
	path = proxy
	url = https://github.com/jabirfth/glsdk-proxy.git
	branch = master
